@inject SignInManager<DatabaseAccess.EFCore.Models.ApplicationUser> _signInManager
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>@ViewBag.Title</title>

</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Aghil-WebPanel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Test">Test</a>
                </li>

                @if (_signInManager.IsSignedIn(User))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Security
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="Index" asp-controller="User">Users</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Role">Roles</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Logout" asp-controller="Account">@User.Identity.Name@@Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Login" asp-controller="Account">Login</a>
                    </li>
                }
            </ul>

        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
