@{
    ViewBag.Title = "Access Deny";
}

<div>
    <h1 style="text-align:center" class="text-danger">Access Deny</h1>
</div>
<div class="text-center">
    <img src="~/img/AccessDeny.png" asp-append-version="true" />
</div>
